{
  "name": "{{name}}",
  "displayName": "{{title}}",
  "version": "0.0.1",
  "description": "{{description}}",
  "author": {
    "name": "{{author}}",
    "email": "plugins@example.com"
  },
  "license": "MIT",
  "keywords": [{{keywords}}],
  "skills": ["./skills"],
  "agents": [],
  "commands": [],
  "hooks": "./hooks/claude.json",
  "mcpServers": "./.mcp.json"
}
